<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact-Us Page</title>
</head>
<body>
  <header>
    <h1>WELCOME TO THE CONTACT-US PAGE </h1>
  </header>
  <main>
    <form action="contact-us" method="POST">
       <input type="text" name="name" placeholder="Enter your Name" /><br>
       <input type="text" name="email" placeholder="Enter your email" /><br>
       <input type="Submit"/>
       </form>
  </main>
</body>
</html>